<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unity3d.player"
    xmlns:tools="http://schemas.android.com/tools">
    
    <!-- 권한 설정 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    
    <!-- WebRTC를 위한 카메라 권한 (비디오 스트리밍용) -->
    <uses-permission android:name="android.permission.CAMERA" />
    
    <!-- Android 6.0+ 위험 권한 -->
    <uses-feature android:name="android.hardware.microphone" android:required="false" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    
    <application
        android:allowBackup="false"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        tools:targetApi="28">
        
        <activity android:name="com.unity3d.player.UnityPlayerActivity"
            android:launchMode="singleTask"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale|layoutDirection|density"
            android:hardwareAccelerated="true">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
        </activity>
        
        <!-- WebRTC 지원을 위한 서비스 -->
        <service android:name="org.webrtc.NetworkMonitor$NetworkMonitorAutoDetect" />
    </application>
</manifest>
